To-Do:
- Lösung für iso-code von Namibia finden
- World Eintrag speziell behandeln oder löschen
- Dates einschränken(z.B. bis Ende 2020)
- einheitliche Ländernamen für alle Tabellen oder extra Tabelle nur für die Länder
- einheitliche column names für alle Tabellen
- Multipolygons der Länder in Größe reduzieren

In [7]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import glob

# Apple Dataset

In [8]:
df_apple = pd.read_csv(r'GeospacialDBs_Data/applemobilitytrends-2021-01-22.csv', 
                       header=0,  dtype={"alternative_name": str})
df_apple.head(5)

,geo_type,region,transportation_type,alternative_name,sub-region,country,2020-01-13,2020-01-14,2020-01-15,2020-01-16,...,2021-01-13,2021-01-14,2021-01-15,2021-01-16,2021-01-17,2021-01-18,2021-01-19,2021-01-20,2021-01-21,2021-01-22
0,country/region,Albania,driving,NaN,NaN,NaN,100.0,95.30,101.43,97.20,...,112.99,112.01,125.27,145.95,134.65,110.75,110.08,114.76,108.25,122.22
1,country/region,Albania,walking,NaN,NaN,NaN,100.0,100.68,98.93,98.46,...,138.08,146.48,155.22,169.13,122.17,130.02,134.37,131.90,130.58,144.09
2,country/region,Argentina,driving,NaN,NaN,NaN,100.0,97.07,102.45,111.21,...,84.53,90.94,100.34,103.96,84.92,86.28,86.42,88.94,91.46,107.22
3,country/region,Argentina,walking,NaN,NaN,NaN,100.0,95.11,101.37,112.67,...,69.09,74.80,75.03,74.34,63.64,77.47,77.23,77.58,78.35,86.39
4,country/region,Australia,driving,AU,NaN,NaN,100.0,102.98,104.21,108.63,...,110.80,114.94,113.08,99.11,107.56,107.83,112.30,114.35,124.10,121.95

In [9]:
df_apple.shape

(4691, 382)

In [10]:
df_apple["geo_type"].unique()

array(['country/region', 'city', 'sub-region', 'county'], dtype=object)

In [11]:
df_apple_countries = df_apple[df_apple["geo_type"] == 'country/region'].copy()
df_apple_countries.drop(["geo_type","sub-region","country","alternative_name"], inplace=True, axis=1)
df_apple_countries

,region,transportation_type,2020-01-13,2020-01-14,2020-01-15,2020-01-16,2020-01-17,2020-01-18,2020-01-19,2020-01-20,...,2021-01-13,2021-01-14,2021-01-15,2021-01-16,2021-01-17,2021-01-18,2021-01-19,2021-01-20,2021-01-21,2021-01-22
0,Albania,driving,100.0,95.30,101.43,97.20,103.55,112.67,104.83,94.39,...,112.99,112.01,125.27,145.95,134.65,110.75,110.08,114.76,108.25,122.22
1,Albania,walking,100.0,100.68,98.93,98.46,100.85,100.13,82.13,95.65,...,138.08,146.48,155.22,169.13,122.17,130.02,134.37,131.90,130.58,144.09
2,Argentina,driving,100.0,97.07,102.45,111.21,118.45,124.01,95.44,95.13,...,84.53,90.94,100.34,103.96,84.92,86.28,86.42,88.94,91.46,107.22
3,Argentina,walking,100.0,95.11,101.37,112.67,116.72,114.14,84.54,101.37,...,69.09,74.80,75.03,74.34,63.64,77.47,77.23,77.58,78.35,86.39
4,Australia,driving,100.0,102.98,104.21,108.63,109.08,89.00,99.35,103.53,...,110.80,114.94,113.08,99.11,107.56,107.83,112.30,114.35,124.10,121.95
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
148,United States,walking,100.0,99.59,101.87,100.60,121.36,132.38,100.10,94.79,...,95.61,98.48,116.29,122.71,94.35,97.72,93.18,92.27,96.00,114.38
149,Uruguay,driving,100.0,96.84,92.90,103.48,114.91,115.03,99.48,93.30,...,75.83,76.73,89.39,81.79,69.43,78.07,74.86,74.62,77.43,89.53
150,Uruguay,walking,100.0,94.90,78.04,100.46,105.04,98.78,76.52,89.94,...,70.80,72.56,70.88,68.09,51.33,70.17,66.89,68.76,69.85,77.77
151,Vietnam,driving,100.0,104.96,108.67,107.09,121.07,130.40,123.99,122.77,...,89.33,93.08,112.49,121.86,99.37,88.86,89.84,93.29,94.23,109.57
152,Vietnam,walking,100.0,104.44,108.20,107.49,116.63,124.02,117.43,117.82,...,120.67,123.05,149.62,166.94,133.17,119.00,120.13,124.09,127.39,144.35

In [12]:
#my_index = pd.MultiIndex(levels=[[],[],[]], codes=[[],[],[]], names=[u'date', u'country', u'transportation_type'])
df_list = []
for region in df_apple_countries["region"].unique():
    for transportation_type in df_apple_countries[df_apple_countries["region"] == region]["transportation_type"].unique():
        series_sub = df_apple_countries[(df_apple_countries["region"] == region) & (df_apple_countries["transportation_type"] == transportation_type)].iloc[:, 2:].transpose()
        df_list += [{'timestamp': timestamp, 'region': region, 'transportation_type': transportation_type, "percentage": value[0]} for timestamp, value in zip(series_sub.index, series_sub.values)]
df_apple_reshaped = pd.DataFrame(df_list)

df_apple_reshaped

        timestamp   region transportation_type  percentage
0      2020-01-13  Albania             driving      100.00
1      2020-01-14  Albania             driving       95.30
2      2020-01-15  Albania             driving      101.43
3      2020-01-16  Albania             driving       97.20
4      2020-01-17  Albania             driving      103.55
...           ...      ...                 ...         ...
57523  2021-01-18  Vietnam             walking      119.00
57524  2021-01-19  Vietnam             walking      120.13
57525  2021-01-20  Vietnam             walking      124.09
57526  2021-01-21  Vietnam             walking      127.39
57527  2021-01-22  Vietnam             walking      144.35

[57528 rows x 4 columns]

In [13]:
df_apple_reshaped.columns=['date','country_region','transportation_type','percent_change_from_baseline']
for i in range(len(df_apple_reshaped)):
    df_apple_reshaped.at[i,'percent_change_from_baseline']-=100

df_apple_reshaped

,date,country_region,transportation_type,percent_change_from_baseline
0,2020-01-13,Albania,driving,0.00
1,2020-01-14,Albania,driving,-4.70
2,2020-01-15,Albania,driving,1.43
3,2020-01-16,Albania,driving,-2.80
4,2020-01-17,Albania,driving,3.55
...,...,...,...,...
57523,2021-01-18,Vietnam,walking,19.00
57524,2021-01-19,Vietnam,walking,20.13
57525,2021-01-20,Vietnam,walking,24.09
57526,2021-01-21,Vietnam,walking,27.39
57527,2021-01-22,Vietnam,walking,44.35

### Fill in Nans with with interpolate

In [14]:
Nans=df_apple_reshaped[df_apple_reshaped.isnull().any(axis=1)]
Nans["date"].unique()

array(['2020-05-11', '2020-05-12'], dtype=object)

In [15]:
percent_change=df_apple_reshaped['percent_change_from_baseline'].interpolate(method='quadratic')
df_apple_reshaped['percent_change_from_baseline']=percent_change
df_apple_reshaped

,date,country_region,transportation_type,percent_change_from_baseline
0,2020-01-13,Albania,driving,0.00
1,2020-01-14,Albania,driving,-4.70
2,2020-01-15,Albania,driving,1.43
3,2020-01-16,Albania,driving,-2.80
4,2020-01-17,Albania,driving,3.55
...,...,...,...,...
57523,2021-01-18,Vietnam,walking,19.00
57524,2021-01-19,Vietnam,walking,20.13
57525,2021-01-20,Vietnam,walking,24.09
57526,2021-01-21,Vietnam,walking,27.39
57527,2021-01-22,Vietnam,walking,44.35

In [16]:
df_iso_codes = pd.read_csv(r'GeospacialDBs_Data/wikipedia-iso-country-codes.csv', header=0, sep=",")
df_iso_codes

,English short name lower case,Alpha-2 code,Alpha-3 code,Numeric code,ISO 3166-2
0,Afghanistan,AF,AFG,4,ISO 3166-2:AF
1,Åland Islands,AX,ALA,248,ISO 3166-2:AX
2,Albania,AL,ALB,8,ISO 3166-2:AL
3,Algeria,DZ,DZA,12,ISO 3166-2:DZ
4,American Samoa,AS,ASM,16,ISO 3166-2:AS
...,...,...,...,...,...
241,Wallis and Futuna,WF,WLF,876,ISO 3166-2:WF
242,Western Sahara,EH,ESH,732,ISO 3166-2:EH
243,Yemen,YE,YEM,887,ISO 3166-2:YE
244,Zambia,ZM,ZMB,894,ISO 3166-2:ZM
245,Zimbabwe,ZW,ZWE,716,ISO 3166-2:ZW

In [18]:
df_iso_codes.set_index('English short name lower case',inplace=True)
df_iso_codes

,Alpha-2 code,Alpha-3 code,Numeric code,ISO 3166-2
English short name lower case,,,,
Afghanistan,AF,AFG,4,ISO 3166-2:AF
Åland Islands,AX,ALA,248,ISO 3166-2:AX
Albania,AL,ALB,8,ISO 3166-2:AL
Algeria,DZ,DZA,12,ISO 3166-2:DZ
American Samoa,AS,ASM,16,ISO 3166-2:AS
...,...,...,...,...
Wallis and Futuna,WF,WLF,876,ISO 3166-2:WF
Western Sahara,EH,ESH,732,ISO 3166-2:EH
Yemen,YE,YEM,887,ISO 3166-2:YE
Zambia,ZM,ZMB,894,ISO 3166-2:ZM
Zimbabwe,ZW,ZWE,716,ISO 3166-2:ZW

In [22]:
countries={}
for i in range(len(df_apple_reshaped)):
    tmp=df_apple_reshaped['country_region'][i]
    if tmp not in df_iso_codes.index:
        if tmp not in countries:
            countries[tmp]=1

countries
    #print(df_iso_codes['Name'][i])

{'Republic of Korea': 1, 'Russia': 1, 'Taiwan': 1, 'Vietnam': 1}

In [23]:
for i in df_iso_codes.index:
    print(i)

Afghanistan
Åland Islands
Albania
Algeria
American Samoa
Andorra
Angola
Anguilla
Antarctica
Antigua and Barbuda
Argentina
Armenia
Aruba
Australia
Austria
Azerbaijan
Bahamas
Bahrain
Bangladesh
Barbados
Belarus
Belgium
Belize
Benin
Bermuda
Bhutan
Bolivia, Plurinational State of
Bosnia and Herzegovina
Botswana
Bouvet Island
Brazil
British Indian Ocean Territory
Brunei Darussalam
Bulgaria
Burkina Faso
Burundi
Cambodia
Cameroon
Canada
Cape Verde
Cayman Islands
Central African Republic
Chad
Chile
China
Christmas Island
Cocos (Keeling) Islands
Colombia
Comoros
Congo
Congo, the Democratic Republic of the
Cook Islands
Costa Rica
Côte d'Ivoire
Croatia
Cuba
Cyprus
Czech Republic
Denmark
Djibouti
Dominica
Dominican Republic
Ecuador
Egypt
El Salvador
Equatorial Guinea
Eritrea
Estonia
Ethiopia
Falkland Islands (Malvinas)
Faroe Islands
Fiji
Finland
France
French Guiana
French Polynesia
French Southern Territories
Gabon
Gambia
Georgia
Germany
Ghana
Gibraltar
Greece
Greenland
Grenada
Guadeloupe
Guam
Guatemala
Guernsey
Guinea
Guinea-Bissau
Guyana
Haiti
Heard Island and McDonald Islands
Holy See (Vatican City State)
Honduras
Hong Kong
Hungary
Iceland
India
Indonesia
Iran, Islamic Republic of
Iraq
Ireland
Isle of Man
Israel
Italy
Jamaica
Japan
Jersey
Jordan
Kazakhstan
Kenya
Kiribati
Korea, Democratic People's Republic of
Korea, Republic of
Kuwait
Kyrgyzstan
Lao People's Democratic Republic
Latvia
Lebanon
Lesotho
Liberia
Libyan Arab Jamahiriya
Liechtenstein
Lithuania
Luxembourg
Macao
Macedonia, the former Yugoslav Republic of
Madagascar
Malawi
Malaysia
Maldives
Mali
Malta
Marshall Islands
Martinique
Mauritania
Mauritius
Mayotte
Mexico
Micronesia, Federated States of
Moldova, Republic of
Monaco
Mongolia
Montenegro
Montserrat
Morocco
Mozambique
Myanmar
Namibia
Nauru
Nepal
Netherlands
Netherlands Antilles
New Caledonia
New Zealand
Nicaragua
Niger
Nigeria
Niue
Norfolk Island
Northern Mariana Islands
Norway
Oman
Pakistan
Palau
Palestinian Territory, Occupied
Panama
Papua New Guinea
Paraguay
Peru
Philippines
Pitcairn
Poland
Portugal
Puerto Rico
Qatar
Réunion
Romania
Russian Federation
Rwanda
Saint Barthélemy
Saint Helena, Ascension and Tristan da Cunha
Saint Kitts and Nevis
Saint Lucia
Saint Martin (French part)
Saint Pierre and Miquelon
Saint Vincent and the Grenadines
Samoa
San Marino
Sao Tome and Principe
Saudi Arabia
Senegal
Serbia
Seychelles
Sierra Leone
Singapore
Slovakia
Slovenia
Solomon Islands
Somalia
South Africa
South Georgia and the South Sandwich Islands
Spain
Sri Lanka
Sudan
Suriname
Svalbard and Jan Mayen
Swaziland
Sweden
Switzerland
Syrian Arab Republic
Taiwan, Province of China
Tajikistan
Tanzania, United Republic of
Thailand
Timor-Leste
Togo
Tokelau
Tonga
Trinidad and Tobago
Tunisia
Turkey
Turkmenistan
Turks and Caicos Islands
Tuvalu
Uganda
Ukraine
United Arab Emirates
United Kingdom
United States
United States Minor Outlying Islands
Uruguay
Uzbekistan
Vanuatu
Venezuela, Bolivarian Republic of
Viet Nam
Virgin Islands, British
Virgin Islands, U.S.
Wallis and Futuna
Western Sahara
Yemen
Zambia
Zimbabwe

In [24]:
#translate the missing ones
countries['Republic of Korea']="Korea, Republic of"
countries['Russia']='Russian Federation'
countries['Taiwan']='Taiwan, Province of China'
countries['Vietnam']='Viet Nam'

countries

{'Republic of Korea': 'Korea, Republic of',
 'Russia': 'Russian Federation',
 'Taiwan': 'Taiwan, Province of China',
 'Vietnam': 'Viet Nam'}

In [25]:
df_apple_reshaped['country_region_code']='Placeholder'
df_apple_reshaped

,date,country_region,transportation_type,percent_change_from_baseline,country_region_code
0,2020-01-13,Albania,driving,0.00,Placeholder
1,2020-01-14,Albania,driving,-4.70,Placeholder
2,2020-01-15,Albania,driving,1.43,Placeholder
3,2020-01-16,Albania,driving,-2.80,Placeholder
4,2020-01-17,Albania,driving,3.55,Placeholder
...,...,...,...,...,...
57523,2021-01-18,Vietnam,walking,19.00,Placeholder
57524,2021-01-19,Vietnam,walking,20.13,Placeholder
57525,2021-01-20,Vietnam,walking,24.09,Placeholder
57526,2021-01-21,Vietnam,walking,27.39,Placeholder
57527,2021-01-22,Vietnam,walking,44.35,Placeholder

In [27]:
for i in range(len(df_apple_reshaped)):
    tmp=df_apple_reshaped['country_region'][i]
    if tmp not in set(df_iso_codes.index):
        tmp=countries[tmp]
    df_apple_reshaped['country_region_code'][i]=df_iso_codes['Alpha-2 code'][tmp]

df_apple_reshaped

<ipython-input-27-755517d49544>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_apple_reshaped['country_region_code'][i]=df_iso_codes['Alpha-2 code'][tmp]

,date,country_region,transportation_type,percent_change_from_baseline,country_region_code
0,2020-01-13,Albania,driving,0.00,AL
1,2020-01-14,Albania,driving,-4.70,AL
2,2020-01-15,Albania,driving,1.43,AL
3,2020-01-16,Albania,driving,-2.80,AL
4,2020-01-17,Albania,driving,3.55,AL
...,...,...,...,...,...
57523,2021-01-18,Vietnam,walking,19.00,VN
57524,2021-01-19,Vietnam,walking,20.13,VN
57525,2021-01-20,Vietnam,walking,24.09,VN
57526,2021-01-21,Vietnam,walking,27.39,VN
57527,2021-01-22,Vietnam,walking,44.35,VN

In [28]:
df_apple_reshaped.to_csv(r"GeospacialDBs_Data/AppleMobilityData_reshaped.csv", index = False)

# Google Dataset

In [29]:
df_google = pd.read_csv('GeospacialDBs_Data/Global_Mobility_Report.csv', header=0,  dtype={"metro_area": str})
df_google

/home/julian/.local/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3145: DtypeWarning: Columns (5) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

,country_region_code,country_region,sub_region_1,sub_region_2,metro_area,iso_3166_2_code,census_fips_code,date,retail_and_recreation_percent_change_from_baseline,grocery_and_pharmacy_percent_change_from_baseline,parks_percent_change_from_baseline,transit_stations_percent_change_from_baseline,workplaces_percent_change_from_baseline,residential_percent_change_from_baseline
0,AE,United Arab Emirates,NaN,NaN,NaN,NaN,NaN,2020-02-15,0.0,4.0,5.0,0.0,2.0,1.0
1,AE,United Arab Emirates,NaN,NaN,NaN,NaN,NaN,2020-02-16,1.0,4.0,4.0,1.0,2.0,1.0
2,AE,United Arab Emirates,NaN,NaN,NaN,NaN,NaN,2020-02-17,-1.0,1.0,5.0,1.0,2.0,1.0
3,AE,United Arab Emirates,NaN,NaN,NaN,NaN,NaN,2020-02-18,-2.0,1.0,5.0,0.0,2.0,1.0
4,AE,United Arab Emirates,NaN,NaN,NaN,NaN,NaN,2020-02-19,-2.0,0.0,4.0,-1.0,2.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3952072,ZW,Zimbabwe,Midlands Province,Kwekwe,NaN,NaN,NaN,2021-01-13,NaN,NaN,NaN,NaN,-35.0,NaN
3952073,ZW,Zimbabwe,Midlands Province,Kwekwe,NaN,NaN,NaN,2021-01-14,NaN,NaN,NaN,NaN,-40.0,NaN
3952074,ZW,Zimbabwe,Midlands Province,Kwekwe,NaN,NaN,NaN,2021-01-15,NaN,NaN,NaN,NaN,-41.0,NaN
3952075,ZW,Zimbabwe,Midlands Province,Kwekwe,NaN,NaN,NaN,2021-01-18,NaN,NaN,NaN,NaN,-41.0,NaN
3952076,ZW,Zimbabwe,Midlands Province,Kwekwe,NaN,NaN,NaN,2021-01-19,NaN,NaN,NaN,NaN,-35.0,NaN

In [30]:
df_google.drop(["sub_region_1","sub_region_2","metro_area","iso_3166_2_code","census_fips_code"], inplace=True, axis=1)
df_google.head(5)

,country_region_code,country_region,date,retail_and_recreation_percent_change_from_baseline,grocery_and_pharmacy_percent_change_from_baseline,parks_percent_change_from_baseline,transit_stations_percent_change_from_baseline,workplaces_percent_change_from_baseline,residential_percent_change_from_baseline
0,AE,United Arab Emirates,2020-02-15,0.0,4.0,5.0,0.0,2.0,1.0
1,AE,United Arab Emirates,2020-02-16,1.0,4.0,4.0,1.0,2.0,1.0
2,AE,United Arab Emirates,2020-02-17,-1.0,1.0,5.0,1.0,2.0,1.0
3,AE,United Arab Emirates,2020-02-18,-2.0,1.0,5.0,0.0,2.0,1.0
4,AE,United Arab Emirates,2020-02-19,-2.0,0.0,4.0,-1.0,2.0,1.0

In [35]:
df_google[df_google.isnull().any(axis=1)]

,country_region_code,country_region,date,retail_and_recreation_percent_change_from_baseline,grocery_and_pharmacy_percent_change_from_baseline,parks_percent_change_from_baseline,transit_stations_percent_change_from_baseline,workplaces_percent_change_from_baseline,residential_percent_change_from_baseline
749,AE,United Arab Emirates,2020-04-24,-62.0,-34.0,-92.0,NaN,-40.0,22.0
756,AE,United Arab Emirates,2020-05-01,-54.0,-31.0,-85.0,NaN,-35.0,20.0
791,AE,United Arab Emirates,2020-06-05,-35.0,-17.0,-58.0,NaN,-18.0,16.0
805,AE,United Arab Emirates,2020-06-19,-36.0,-19.0,-68.0,NaN,-16.0,15.0
812,AE,United Arab Emirates,2020-06-26,-27.0,-14.0,-56.0,NaN,-12.0,13.0
...,...,...,...,...,...,...,...,...,...
3952072,ZW,Zimbabwe,2021-01-13,NaN,NaN,NaN,NaN,-35.0,NaN
3952073,ZW,Zimbabwe,2021-01-14,NaN,NaN,NaN,NaN,-40.0,NaN
3952074,ZW,Zimbabwe,2021-01-15,NaN,NaN,NaN,NaN,-41.0,NaN
3952075,ZW,Zimbabwe,2021-01-18,NaN,NaN,NaN,NaN,-41.0,NaN
3952076,ZW,Zimbabwe,2021-01-19,NaN,NaN,NaN,NaN,-35.0,NaN

In [38]:
for col in df_google.columns:
    print(df_google[col].isnull().sum())

2517
0
0
1462321
1547993
2059839
1953461
189135
1664695

In [31]:
#look for missing country_region_codes

for i in range(len(df_google)):
    tmp=df_google['country_region_code'][i]
    if pd.isnull(tmp):
        c_name=df_google['country_region'][i]
        df_google['country_region_code'][i]=df_iso_codes['Alpha-2 code'][c_name]

<ipython-input-31-3a1fd1c7d384>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_google['country_region_code'][i]=df_iso_codes['Alpha-2 code'][c_name]

In [32]:
df_google[df_google['country_region_code'].isnull()]
#Namibias iso country code is read as NaN

,country_region_code,country_region,date,retail_and_recreation_percent_change_from_baseline,grocery_and_pharmacy_percent_change_from_baseline,parks_percent_change_from_baseline,transit_stations_percent_change_from_baseline,workplaces_percent_change_from_baseline,residential_percent_change_from_baseline
2074910,NaN,Namibia,2020-02-15,-5.0,-8.0,2.0,-8.0,2.0,3.0
2074911,NaN,Namibia,2020-02-16,-12.0,-10.0,4.0,-9.0,-1.0,2.0
2074912,NaN,Namibia,2020-02-17,-13.0,-14.0,-3.0,-17.0,6.0,1.0
2074913,NaN,Namibia,2020-02-18,-15.0,-14.0,-6.0,-11.0,6.0,2.0
2074914,NaN,Namibia,2020-02-19,-13.0,-14.0,-5.0,-15.0,6.0,0.0
...,...,...,...,...,...,...,...,...,...
2077422,NaN,Namibia,2021-01-18,NaN,NaN,NaN,NaN,-23.0,NaN
2077423,NaN,Namibia,2021-01-19,NaN,NaN,NaN,NaN,-27.0,NaN
2077424,NaN,Namibia,2020-04-13,NaN,NaN,NaN,NaN,-59.0,NaN
2077425,NaN,Namibia,2020-12-25,NaN,NaN,NaN,NaN,-75.0,NaN
2077426,NaN,Namibia,2021-01-01,NaN,NaN,NaN,NaN,-68.0,NaN

In [40]:
# fill in NaNs in percent change with interpolate
for col in df_google.columns: 
    if col!="country_region_code" and col!="country_region" and col!="date":
        percent_change=df_google[col].interpolate(method='quadratic')
        df_google[col]=percent_change
df_google

,country_region_code,country_region,date,retail_and_recreation_percent_change_from_baseline,grocery_and_pharmacy_percent_change_from_baseline,parks_percent_change_from_baseline,transit_stations_percent_change_from_baseline,workplaces_percent_change_from_baseline,residential_percent_change_from_baseline
0,AE,United Arab Emirates,2020-02-15,0.0,4.0,5.0,0.0,2.0,1.0
1,AE,United Arab Emirates,2020-02-16,1.0,4.0,4.0,1.0,2.0,1.0
2,AE,United Arab Emirates,2020-02-17,-1.0,1.0,5.0,1.0,2.0,1.0
3,AE,United Arab Emirates,2020-02-18,-2.0,1.0,5.0,0.0,2.0,1.0
4,AE,United Arab Emirates,2020-02-19,-2.0,0.0,4.0,-1.0,2.0,1.0
...,...,...,...,...,...,...,...,...,...
3952072,ZW,Zimbabwe,2021-01-13,NaN,NaN,NaN,NaN,-35.0,NaN
3952073,ZW,Zimbabwe,2021-01-14,NaN,NaN,NaN,NaN,-40.0,NaN
3952074,ZW,Zimbabwe,2021-01-15,NaN,NaN,NaN,NaN,-41.0,NaN
3952075,ZW,Zimbabwe,2021-01-18,NaN,NaN,NaN,NaN,-41.0,NaN
3952076,ZW,Zimbabwe,2021-01-19,NaN,NaN,NaN,NaN,-35.0,NaN

In [43]:
df_google[df_google.isnull().any(axis=1)]
#still NaNs left, possible solutions:
#1. delete data from specific countries
#2. delete certain columns

,country_region_code,country_region,date,retail_and_recreation_percent_change_from_baseline,grocery_and_pharmacy_percent_change_from_baseline,parks_percent_change_from_baseline,transit_stations_percent_change_from_baseline,workplaces_percent_change_from_baseline,residential_percent_change_from_baseline
2074910,NaN,Namibia,2020-02-15,-5.0,-8.0,2.0,-8.0,2.0,3.0
2074911,NaN,Namibia,2020-02-16,-12.0,-10.0,4.0,-9.0,-1.0,2.0
2074912,NaN,Namibia,2020-02-17,-13.0,-14.0,-3.0,-17.0,6.0,1.0
2074913,NaN,Namibia,2020-02-18,-15.0,-14.0,-6.0,-11.0,6.0,2.0
2074914,NaN,Namibia,2020-02-19,-13.0,-14.0,-5.0,-15.0,6.0,0.0
...,...,...,...,...,...,...,...,...,...
3952072,ZW,Zimbabwe,2021-01-13,NaN,NaN,NaN,NaN,-35.0,NaN
3952073,ZW,Zimbabwe,2021-01-14,NaN,NaN,NaN,NaN,-40.0,NaN
3952074,ZW,Zimbabwe,2021-01-15,NaN,NaN,NaN,NaN,-41.0,NaN
3952075,ZW,Zimbabwe,2021-01-18,NaN,NaN,NaN,NaN,-41.0,NaN
3952076,ZW,Zimbabwe,2021-01-19,NaN,NaN,NaN,NaN,-35.0,NaN

In [109]:
#decided for 1. solution

columns=[]
for col in df_google.columns:
    #print(col)
    if col!="country_region_code" and col!="country_region" and col!="date":
        columns.append(col)
df_google.dropna(subset=columns,inplace=True)

In [111]:
df_google[df_google.isnull().any(axis=1)] #only NaNs for Namibia left

,country_region_code,country_region,date,retail_and_recreation_percent_change_from_baseline,grocery_and_pharmacy_percent_change_from_baseline,parks_percent_change_from_baseline,transit_stations_percent_change_from_baseline,workplaces_percent_change_from_baseline,residential_percent_change_from_baseline
2074910,NaN,Namibia,2020-02-15,-5.000000,-8.000000,2.000000,-8.000000,2.0,3.000000
2074911,NaN,Namibia,2020-02-16,-12.000000,-10.000000,4.000000,-9.000000,-1.0,2.000000
2074912,NaN,Namibia,2020-02-17,-13.000000,-14.000000,-3.000000,-17.000000,6.0,1.000000
2074913,NaN,Namibia,2020-02-18,-15.000000,-14.000000,-6.000000,-11.000000,6.0,2.000000
2074914,NaN,Namibia,2020-02-19,-13.000000,-14.000000,-5.000000,-15.000000,6.0,0.000000
...,...,...,...,...,...,...,...,...,...
2077422,NaN,Namibia,2021-01-18,9.080100,-3.009153,-13.480728,0.537259,-23.0,-4.511212
2077423,NaN,Namibia,2021-01-19,8.068286,-0.492254,-11.215919,1.226316,-27.0,-3.812804
2077424,NaN,Namibia,2020-04-13,7.054369,1.567112,-8.935441,1.917119,-59.0,-3.112479
2077425,NaN,Namibia,2020-12-25,6.038349,3.168942,-6.639296,2.609667,-75.0,-2.410236
2077426,NaN,Namibia,2021-01-01,5.020226,4.313238,-4.327482,3.303961,-68.0,-1.706077

In [114]:
df_google.to_csv(r"GeospacialDBs_Data/Global_Mobility_Report_reshaped.csv", index = False)

# Internet Speed Dataset

In [50]:
df_internet = pd.read_csv('GeospacialDBs_Data/2020-07-20 Ookla Speedtest Tracking COVID-19.csv' , header=0, sep=",")#,  dtype={"metro_area": str})
df_internet.head(20)

,Place,Result Week Start,Result Week End,Mobile Test Change vs 12 Week Avg,Mobile Download % Change vs Base Week,Mobile Average Download Mbps,Mobile Median Download % Change vs Base Week,Mobile Median Download Mbps,Fixed Test Change vs 12 Week Avg,Fixed Download % Change vs Base Week,Fixed Average Download Mbps,Fixed Median Download % Change vs Base Week,Fixed Median Download Mbps
0,Afghanistan,12/16/2019,12/22/2019,-0.1014,0.00439,6.86,0.11483,4.66,-0.0664,-0.15459,7.00,-0.01031,1.92
1,Afghanistan,12/23/2019,12/29/2019,-0.1998,0.13909,7.78,0.15072,4.81,-0.1493,-0.17391,6.84,0.11340,2.16
2,Afghanistan,12/30/2019,1/5/2020,-0.0812,-0.02782,6.64,0.01914,4.26,-0.2260,-0.14734,7.06,0.01546,1.97
3,Afghanistan,1/6/2020,1/12/2020,-0.2085,0.03221,7.05,0.08134,4.52,-0.2162,-0.04469,7.91,0.07732,2.09
4,Afghanistan,1/13/2020,1/19/2020,-0.1034,0.04978,7.17,0.09809,4.59,-0.1126,-0.18237,6.77,0.01031,1.96
5,Afghanistan,1/20/2020,1/26/2020,0.1038,0.07613,7.35,0.28708,5.38,-0.1187,0.13768,9.42,0.02062,1.98
6,Afghanistan,1/27/2020,2/2/2020,-0.0277,0.13324,7.74,0.21770,5.09,0.0844,-0.04469,7.91,0.02577,1.99
7,Afghanistan,2/3/2020,2/9/2020,0.2433,-0.04392,6.53,0.08852,4.55,0.1214,0.01449,8.40,0.03608,2.01
8,Afghanistan,2/10/2020,2/16/2020,0.0794,0.02489,7.00,0.12679,4.71,-0.0513,-0.06159,7.77,0.01546,1.97
9,Afghanistan,2/17/2020,2/23/2020,0.0635,-0.08492,6.25,-0.01675,4.11,0.0721,0.08575,8.99,0.01031,1.96
10,Afghanistan,2/24/2020,3/1/2020,0.0299,-0.17570,5.63,-0.18182,3.42,0.0597,-0.07488,7.66,-0.01031,1.92
11,Afghanistan,3/2/2020,3/8/2020,0.1126,0.00000,6.83,0.00000,4.18,0.2448,0.00000,8.28,0.00000,1.94
12,Afghanistan,3/9/2020,3/15/2020,0.0511,-0.12152,6.00,-0.11962,3.68,-0.0055,-0.14251,7.10,0.03093,2.00
13,Afghanistan,3/16/2020,3/22/2020,0.0719,-0.04392,6.53,0.00718,4.21,0.0446,-0.23551,6.33,-0.02062,1.90
14,Afghanistan,3/23/2020,3/29/2020,0.0370,-0.07906,6.29,0.00478,4.20,0.3347,-0.19565,6.66,-0.14948,1.65
15,Afghanistan,3/30/2020,4/5/2020,0.1274,-0.02782,6.64,-0.08612,3.82,0.1755,-0.13768,7.14,-0.21649,1.52
16,Afghanistan,4/6/2020,4/12/2020,0.3477,-0.15373,5.78,-0.07895,3.85,0.2436,-0.17512,6.83,-0.17010,1.61
17,Afghanistan,4/13/2020,4/19/2020,0.3404,-0.10981,6.08,-0.13397,3.62,0.1867,-0.19807,6.64,-0.23196,1.49
18,Afghanistan,4/20/2020,4/26/2020,0.1554,-0.05564,6.45,0.07416,4.49,0.1289,-0.18478,6.75,-0.17010,1.61
19,Afghanistan,4/27/2020,5/3/2020,0.0181,-0.08931,6.22,-0.07656,3.86,0.0962,-0.26691,6.07,-0.23196,1.49

In [51]:
df_internet["Place"].unique()

array(['Afghanistan', 'Albania', 'Algeria', 'Argentina', 'Armenia',
       'Australia', 'Austria', 'Azerbaijan', 'Bahrain', 'Bangladesh',
       'Belarus', 'Belgium', 'Bolivia', 'Bosnia and Herzegovina',
       'Brazil', 'Bulgaria', 'Cambodia', 'Canada', 'Chile', 'China',
       'Colombia', 'Costa Rica', 'Croatia', 'Cyprus', 'Czechia',
       'Denmark', 'Dominican Republic', 'Ecuador', 'El Salvador',
       'Estonia', 'Ethiopia', 'Finland', 'France', 'Georgia', 'Germany',
       'Ghana', 'Greece', 'Guatemala', 'Honduras', 'Hong Kong (SAR)',
       'Hungary', 'India', 'Indonesia', 'Iraq', 'Ireland', 'Israel',
       'Italy', 'Jamaica', 'Japan', 'Jordan', 'Kazakhstan', 'Kenya',
       'Kuwait', 'Kyrgyzstan', 'Laos', 'Latvia', 'Lebanon', 'Libya',
       'Lithuania', 'Luxembourg', 'Macau (SAR)', 'Malaysia', 'Maldives',
       'Mexico', 'Moldova', 'Mongolia', 'Montenegro', 'Morocco',
       'Mozambique', 'Myanmar (Burma)', 'Nepal', 'Netherlands',
       'New Zealand', 'Nicaragua', 'Nigeria', 'North Macedonia', 'Norway',
       'Oman', 'Pakistan', 'Panama', 'Paraguay', 'Peru', 'Philippines',
       'Poland', 'Portugal', 'Qatar', 'Romania', 'Russia', 'Saudi Arabia',
       'Serbia', 'Singapore', 'Slovakia', 'Slovenia', 'South Africa',
       'Spain', 'Sri Lanka', 'Sudan', 'Sweden', 'Switzerland', 'Syria',
       'Taiwan', 'Tajikistan', 'Tanzania', 'Thailand',
       'Trinidad and Tobago', 'Tunisia', 'Turkey', 'Ukraine',
       'United Arab Emirates', 'United Kingdom', 'United States',
       'Uruguay', 'Uzbekistan', 'Venezuela', 'Vietnam', 'Global'],
      dtype=object)

In [54]:
df_internet.rename(columns={'Place':'country_region'}, inplace=True)

In [56]:
for i in range(len(df_internet)):
    tmp=df_internet['country_region'][i]
    if tmp not in df_iso_codes.index:
        if tmp not in countries:
            countries[tmp]=1

countries

{'Republic of Korea': 'Korea, Republic of',
 'Russia': 'Russian Federation',
 'Taiwan': 'Taiwan, Province of China',
 'Vietnam': 'Viet Nam',
 'Bolivia': 1,
 'Czechia': 1,
 'Hong Kong (SAR)': 1,
 'Laos': 1,
 'Libya': 1,
 'Macau (SAR)': 1,
 'Moldova': 1,
 'Myanmar (Burma)': 1,
 'North Macedonia': 1,
 'Syria': 1,
 'Tanzania': 1,
 'Venezuela': 1,
 'Global': 1}

In [57]:
for i in df_iso_codes.index:
    print(i)

Afghanistan
Åland Islands
Albania
Algeria
American Samoa
Andorra
Angola
Anguilla
Antarctica
Antigua and Barbuda
Argentina
Armenia
Aruba
Australia
Austria
Azerbaijan
Bahamas
Bahrain
Bangladesh
Barbados
Belarus
Belgium
Belize
Benin
Bermuda
Bhutan
Bolivia, Plurinational State of
Bosnia and Herzegovina
Botswana
Bouvet Island
Brazil
British Indian Ocean Territory
Brunei Darussalam
Bulgaria
Burkina Faso
Burundi
Cambodia
Cameroon
Canada
Cape Verde
Cayman Islands
Central African Republic
Chad
Chile
China
Christmas Island
Cocos (Keeling) Islands
Colombia
Comoros
Congo
Congo, the Democratic Republic of the
Cook Islands
Costa Rica
Côte d'Ivoire
Croatia
Cuba
Cyprus
Czech Republic
Denmark
Djibouti
Dominica
Dominican Republic
Ecuador
Egypt
El Salvador
Equatorial Guinea
Eritrea
Estonia
Ethiopia
Falkland Islands (Malvinas)
Faroe Islands
Fiji
Finland
France
French Guiana
French Polynesia
French Southern Territories
Gabon
Gambia
Georgia
Germany
Ghana
Gibraltar
Greece
Greenland
Grenada
Guadeloupe
Guam
Guatemala
Guernsey
Guinea
Guinea-Bissau
Guyana
Haiti
Heard Island and McDonald Islands
Holy See (Vatican City State)
Honduras
Hong Kong
Hungary
Iceland
India
Indonesia
Iran, Islamic Republic of
Iraq
Ireland
Isle of Man
Israel
Italy
Jamaica
Japan
Jersey
Jordan
Kazakhstan
Kenya
Kiribati
Korea, Democratic People's Republic of
Korea, Republic of
Kuwait
Kyrgyzstan
Lao People's Democratic Republic
Latvia
Lebanon
Lesotho
Liberia
Libyan Arab Jamahiriya
Liechtenstein
Lithuania
Luxembourg
Macao
Macedonia, the former Yugoslav Republic of
Madagascar
Malawi
Malaysia
Maldives
Mali
Malta
Marshall Islands
Martinique
Mauritania
Mauritius
Mayotte
Mexico
Micronesia, Federated States of
Moldova, Republic of
Monaco
Mongolia
Montenegro
Montserrat
Morocco
Mozambique
Myanmar
Namibia
Nauru
Nepal
Netherlands
Netherlands Antilles
New Caledonia
New Zealand
Nicaragua
Niger
Nigeria
Niue
Norfolk Island
Northern Mariana Islands
Norway
Oman
Pakistan
Palau
Palestinian Territory, Occupied
Panama
Papua New Guinea
Paraguay
Peru
Philippines
Pitcairn
Poland
Portugal
Puerto Rico
Qatar
Réunion
Romania
Russian Federation
Rwanda
Saint Barthélemy
Saint Helena, Ascension and Tristan da Cunha
Saint Kitts and Nevis
Saint Lucia
Saint Martin (French part)
Saint Pierre and Miquelon
Saint Vincent and the Grenadines
Samoa
San Marino
Sao Tome and Principe
Saudi Arabia
Senegal
Serbia
Seychelles
Sierra Leone
Singapore
Slovakia
Slovenia
Solomon Islands
Somalia
South Africa
South Georgia and the South Sandwich Islands
Spain
Sri Lanka
Sudan
Suriname
Svalbard and Jan Mayen
Swaziland
Sweden
Switzerland
Syrian Arab Republic
Taiwan, Province of China
Tajikistan
Tanzania, United Republic of
Thailand
Timor-Leste
Togo
Tokelau
Tonga
Trinidad and Tobago
Tunisia
Turkey
Turkmenistan
Turks and Caicos Islands
Tuvalu
Uganda
Ukraine
United Arab Emirates
United Kingdom
United States
United States Minor Outlying Islands
Uruguay
Uzbekistan
Vanuatu
Venezuela, Bolivarian Republic of
Viet Nam
Virgin Islands, British
Virgin Islands, U.S.
Wallis and Futuna
Western Sahara
Yemen
Zambia
Zimbabwe

In [63]:
countries['Bolivia']='Bolivia, Plurinational State of'
countries['Czechia']='Czech Republic'
countries['Hong Kong (SAR)']='Hong Kong'
countries['Laos']="Lao People's Democratic Republic"
countries['Libya']='Libyan Arab Jamahiriya'
countries['Macau (SAR)']='Macao'
countries['Moldova']='Moldova, Republic of'
countries['Myanmar (Burma)']='Myanmar'
countries['North Macedonia']='Macedonia, the former Yugoslav Republic of'
countries['Syria']='Syrian Arab Republic'
countries['Tanzania']='Tanzania, United Republic of'
countries['Venezuela']='Venezuela, Bolivarian Republic of'
del countries['Global'] #not a country

countries

{'Republic of Korea': 'Korea, Republic of',
 'Russia': 'Russian Federation',
 'Taiwan': 'Taiwan, Province of China',
 'Vietnam': 'Viet Nam',
 'Bolivia': 'Bolivia, Plurinational State of',
 'Czechia': 'Czech Republic',
 'Hong Kong (SAR)': 'Hong Kong',
 'Laos': "Lao People's Democratic Republic",
 'Libya': 'Libyan Arab Jamahiriya',
 'Macau (SAR)': 'Macao',
 'Moldova': 'Moldova, Republic of',
 'Myanmar (Burma)': 'Myanmar',
 'North Macedonia': 'Macedonia, the former Yugoslav Republic of',
 'Syria': 'Syrian Arab Republic',
 'Tanzania': 'Tanzania, United Republic of',
 'Venezuela': 'Venezuela, Bolivarian Republic of'}

In [ ]:
df_internet['country_region_code']='Placeholder'

In [68]:
for i in range(len(df_internet)):
    tmp=df_internet['country_region'][i]
    
    if tmp not in set(df_iso_codes.index):
        if tmp in countries:
            tmp=countries[tmp]
    if tmp!='Global':
        df_internet['country_region_code'][i]=df_iso_codes['Alpha-2 code'][tmp]
    else:
        df_internet['country_region_code'][i]=tmp

df_internet

<ipython-input-68-746f7b9118aa>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_internet['country_region_code'][i]=df_iso_codes['Alpha-2 code'][tmp]
<ipython-input-68-746f7b9118aa>:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_internet['country_region_code'][i]=tmp

,country_region,Result Week Start,Result Week End,Mobile Test Change vs 12 Week Avg,Mobile Download % Change vs Base Week,Mobile Average Download Mbps,Mobile Median Download % Change vs Base Week,Mobile Median Download Mbps,Fixed Test Change vs 12 Week Avg,Fixed Download % Change vs Base Week,Fixed Average Download Mbps,Fixed Median Download % Change vs Base Week,Fixed Median Download Mbps,country_region_code
0,Afghanistan,12/16/2019,12/22/2019,-0.1014,0.00439,6.86,0.11483,4.66,-0.0664,-0.15459,7.00,-0.01031,1.92,AF
1,Afghanistan,12/23/2019,12/29/2019,-0.1998,0.13909,7.78,0.15072,4.81,-0.1493,-0.17391,6.84,0.11340,2.16,AF
2,Afghanistan,12/30/2019,1/5/2020,-0.0812,-0.02782,6.64,0.01914,4.26,-0.2260,-0.14734,7.06,0.01546,1.97,AF
3,Afghanistan,1/6/2020,1/12/2020,-0.2085,0.03221,7.05,0.08134,4.52,-0.2162,-0.04469,7.91,0.07732,2.09,AF
4,Afghanistan,1/13/2020,1/19/2020,-0.1034,0.04978,7.17,0.09809,4.59,-0.1126,-0.18237,6.77,0.01031,1.96,AF
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3591,Global,6/15/2020,6/21/2020,-0.0377,0.07398,35.13,0.02727,18.46,-0.0973,0.01729,77.66,-0.00138,36.16,Global
3592,Global,6/22/2020,6/28/2020,-0.0548,0.07123,35.04,0.02115,18.35,-0.1169,0.01755,77.68,-0.00414,36.06,Global
3593,Global,6/29/2020,7/5/2020,-0.0253,0.08866,35.61,0.03951,18.68,-0.1027,0.03144,78.74,0.00387,36.35,Global
3594,Global,7/6/2020,7/12/2020,-0.0234,0.06053,34.69,0.00278,18.02,-0.1024,0.04716,79.94,-0.00083,36.18,Global
3595,Global,7/13/2020,7/19/2020,-0.0261,0.06665,34.89,-0.00056,17.96,-0.0868,0.04899,80.08,0.00773,36.49,Global

In [71]:
df_internet.isnull().any(axis=1).sum()

0

In [115]:
df_internet.to_csv(r"GeospacialDBs_Data/Ookla Speedtest Tracking COVID-19_reshaped.csv", index = False)

# Flight Data

In [72]:
# "D:\GeospacialDBs_Data\airport-codes.csv"
df_airport_codes = pd.read_csv(r'GeospacialDBs_Data/airport-codes.csv' 
, header=0, sep=",")#,  dtype={"number": str})
df_airport_codes.head(5)

,ident,type,name,elevation_ft,continent,iso_country,iso_region,municipality,gps_code,iata_code,local_code,coordinates
0,00A,heliport,Total Rf Heliport,11.0,NaN,US,US-PA,Bensalem,00A,NaN,00A,"40.07080078125, -74.93360137939453"
1,00AA,small_airport,Aero B Ranch Airport,3435.0,NaN,US,US-KS,Leoti,00AA,NaN,00AA,"38.704022, -101.473911"
2,00AK,small_airport,Lowell Field,450.0,NaN,US,US-AK,Anchor Point,00AK,NaN,00AK,"59.94919968, -151.695999146"
3,00AL,small_airport,Epps Airpark,820.0,NaN,US,US-AL,Harvest,00AL,NaN,00AL,"34.86479949951172, -86.77030181884766"
4,00AR,closed,Newport Hospital & Clinic Heliport,237.0,NaN,US,US-AR,Newport,NaN,NaN,NaN,"35.6087, -91.254898"

In [73]:
first_flag = True
for filename in glob.glob(r'GeospacialDBs_Data/flightlist_*.csv'):
    df_flight = pd.read_csv(filename, header=0, sep=",",  dtype={"number": str})
    country_map = {ident:iso_country for ident, iso_country in zip(df_airport_codes["ident"],df_airport_codes["iso_country"])}
    daily_grouped = df_flight.groupby(['origin', "day"])["callsign"].agg(['count'])
    daily_index = daily_grouped.index.get_level_values(0)
    uniques = df_airport_codes["ident"].unique()
    daily_grouped['iso_country'] = daily_grouped.index.get_level_values(0).map(country_map)
    country_daily_origin = daily_grouped.groupby(['iso_country', "day"])['count'].agg(['count'])
    daily_grouped2 = df_flight.groupby(['destination', "day"])["callsign"].agg(['count'])
    daily_index2 = daily_grouped2.index.get_level_values(0)
    uniques = df_airport_codes["ident"].unique()
    daily_grouped2['iso_country'] = daily_grouped2.index.get_level_values(0).map(country_map)
    country_daily_destination = daily_grouped2.groupby(['iso_country', "day"])["count"].agg(['count'])
    country_daily = pd.concat([country_daily_origin, country_daily_destination], axis=1)
    country_daily.columns = ['origin_count', 'destination_count']
    if first_flag:
        country_flights_io = country_daily
        first_flag = False
    else:
        country_flights_io = country_flights_io.append([country_daily])
country_flights_io.head(10)

                                       origin_count  destination_count
iso_country day
AE          2019-04-01 00:00:00+00:00           7.0                8.0
            2019-04-02 00:00:00+00:00           7.0                7.0
            2019-04-03 00:00:00+00:00           6.0               13.0
            2019-04-04 00:00:00+00:00          11.0               12.0
            2019-04-05 00:00:00+00:00           5.0                7.0
            2019-04-06 00:00:00+00:00           6.0                8.0
            2019-04-07 00:00:00+00:00           6.0                7.0
            2019-04-08 00:00:00+00:00           6.0                9.0
            2019-04-09 00:00:00+00:00           7.0                9.0
            2019-04-10 00:00:00+00:00           5.0               10.0

In [74]:
country_flights_io.loc["AE"]

                           origin_count  destination_count
day
2019-04-01 00:00:00+00:00           7.0                8.0
2019-04-02 00:00:00+00:00           7.0                7.0
2019-04-03 00:00:00+00:00           6.0               13.0
2019-04-04 00:00:00+00:00          11.0               12.0
2019-04-05 00:00:00+00:00           5.0                7.0
...                                 ...                ...
2019-06-26 00:00:00+00:00          10.0               13.0
2019-06-27 00:00:00+00:00           6.0               10.0
2019-06-28 00:00:00+00:00           6.0                9.0
2019-06-29 00:00:00+00:00           8.0                8.0
2019-06-30 00:00:00+00:00           6.0                9.0

[730 rows x 2 columns]

In [75]:
country_flights_io.to_csv(r'GeospacialDBs_Data/Flights_io_per_day_and_country.csv', index = True)

# Iso Codes for translating to country names

In [76]:
df_iso_codes = pd.read_csv(r'GeospacialDBs_Data/wikipedia-iso-country-codes.csv', header=0, sep=",")#,  dtype={"number": str})
df_iso_codes.head(5)

,English short name lower case,Alpha-2 code,Alpha-3 code,Numeric code,ISO 3166-2
0,Afghanistan,AF,AFG,4,ISO 3166-2:AF
1,Åland Islands,AX,ALA,248,ISO 3166-2:AX
2,Albania,AL,ALB,8,ISO 3166-2:AL
3,Algeria,DZ,DZA,12,ISO 3166-2:DZ
4,American Samoa,AS,ASM,16,ISO 3166-2:AS

In [77]:
df_iso_codes.head(5)

,English short name lower case,Alpha-2 code,Alpha-3 code,Numeric code,ISO 3166-2
0,Afghanistan,AF,AFG,4,ISO 3166-2:AF
1,Åland Islands,AX,ALA,248,ISO 3166-2:AX
2,Albania,AL,ALB,8,ISO 3166-2:AL
3,Algeria,DZ,DZA,12,ISO 3166-2:DZ
4,American Samoa,AS,ASM,16,ISO 3166-2:AS

In [78]:
country_flights_io[country_flights_io.isnull().any(axis=1)]

                                       origin_count  destination_count
iso_country day
BA          2019-04-01 00:00:00+00:00           NaN                1.0
            2019-04-02 00:00:00+00:00           NaN                1.0
            2019-04-03 00:00:00+00:00           NaN                1.0
            2019-04-05 00:00:00+00:00           NaN                2.0
            2019-04-06 00:00:00+00:00           NaN                2.0
...                                             ...                ...
VE          2019-06-17 00:00:00+00:00           NaN                1.0
            2019-06-18 00:00:00+00:00           NaN                1.0
            2019-06-19 00:00:00+00:00           NaN                1.0
            2019-06-20 00:00:00+00:00           NaN                1.0
            2019-06-24 00:00:00+00:00           NaN                2.0

[4215 rows x 2 columns]

In [81]:
#replace NaNs with Zeros
country_flights_io.fillna(0,inplace=True)

In [83]:
country_flights_io.to_csv(r'GeospacialDBs_Data/Flights_io_per_day_and_country.csv', index = True)