In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import glob

# Apple Dataset

In [3]:
df_apple = pd.read_csv(r"D:\GeospacialDBs_Data\applemobilitytrends-2020-12-12.csv", header=0,  dtype={"alternative_name": str})
df_apple.head(5)

,geo_type,region,transportation_type,alternative_name,sub-region,country,2020-01-13,2020-01-14,2020-01-15,2020-01-16,...,2020-12-03,2020-12-04,2020-12-05,2020-12-06,2020-12-07,2020-12-08,2020-12-09,2020-12-10,2020-12-11,2020-12-12
0,country/region,Albania,driving,NaN,NaN,NaN,100.0,95.30,101.43,97.20,...,96.89,104.39,120.74,119.19,106.02,106.75,104.06,86.60,100.50,111.09
1,country/region,Albania,walking,NaN,NaN,NaN,100.0,100.68,98.93,98.46,...,106.48,130.41,122.69,115.31,127.33,135.44,115.18,107.59,118.72,124.31
2,country/region,Argentina,driving,NaN,NaN,NaN,100.0,97.07,102.45,111.21,...,84.38,107.65,117.89,84.13,83.34,67.81,80.17,84.16,105.53,111.51
3,country/region,Argentina,walking,NaN,NaN,NaN,100.0,95.11,101.37,112.67,...,68.62,81.35,80.38,54.10,57.58,46.92,66.56,68.64,79.62,75.64
4,country/region,Australia,driving,AU,NaN,NaN,100.0,102.98,104.21,108.63,...,120.13,116.43,96.47,102.24,104.67,110.48,114.09,123.75,118.35,97.85

In [3]:
df_apple.shape

(4691, 341)

In [4]:
df_apple["geo_type"].unique()

array(['country/region', 'city', 'sub-region', 'county'], dtype=object)

In [4]:
df_apple_countries = df_apple[df_apple["geo_type"] == 'country/region'].copy()
df_apple_countries.drop(["geo_type","sub-region","country","alternative_name"], inplace=True, axis=1)
df_apple_countries

,region,transportation_type,2020-01-13,2020-01-14,2020-01-15,2020-01-16,2020-01-17,2020-01-18,2020-01-19,2020-01-20,...,2020-12-03,2020-12-04,2020-12-05,2020-12-06,2020-12-07,2020-12-08,2020-12-09,2020-12-10,2020-12-11,2020-12-12
0,Albania,driving,100.0,95.30,101.43,97.20,103.55,112.67,104.83,94.39,...,96.89,104.39,120.74,119.19,106.02,106.75,104.06,86.60,100.50,111.09
1,Albania,walking,100.0,100.68,98.93,98.46,100.85,100.13,82.13,95.65,...,106.48,130.41,122.69,115.31,127.33,135.44,115.18,107.59,118.72,124.31
2,Argentina,driving,100.0,97.07,102.45,111.21,118.45,124.01,95.44,95.13,...,84.38,107.65,117.89,84.13,83.34,67.81,80.17,84.16,105.53,111.51
3,Argentina,walking,100.0,95.11,101.37,112.67,116.72,114.14,84.54,101.37,...,68.62,81.35,80.38,54.10,57.58,46.92,66.56,68.64,79.62,75.64
4,Australia,driving,100.0,102.98,104.21,108.63,109.08,89.00,99.35,103.53,...,120.13,116.43,96.47,102.24,104.67,110.48,114.09,123.75,118.35,97.85
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
148,United States,walking,100.0,99.59,101.87,100.60,121.36,132.38,100.10,94.79,...,103.98,122.57,123.17,86.02,96.21,99.52,102.41,106.52,125.07,127.03
149,Uruguay,driving,100.0,96.84,92.90,103.48,114.91,115.03,99.48,93.30,...,71.64,83.60,91.33,58.41,66.31,68.22,70.41,73.27,86.18,85.27
150,Uruguay,walking,100.0,94.90,78.04,100.46,105.04,98.78,76.52,89.94,...,74.48,77.20,71.77,47.42,73.29,71.72,73.02,71.45,75.54,70.28
151,Vietnam,driving,100.0,104.96,108.67,107.09,121.07,130.40,123.99,122.77,...,93.88,110.82,120.92,99.21,88.32,90.49,90.58,94.46,112.72,125.66
152,Vietnam,walking,100.0,104.44,108.20,107.49,116.63,124.02,117.43,117.82,...,117.17,136.90,157.56,126.56,114.03,117.02,117.36,122.83,144.86,166.76

In [20]:
#my_index = pd.MultiIndex(levels=[[],[],[]], codes=[[],[],[]], names=[u'date', u'country', u'transportation_type'])
df_list = []
for region in df_apple_countries["region"].unique():
    for transportation_type in df_apple_countries[df_apple_countries["region"] == region]["transportation_type"].unique():
        series_sub = df_apple_countries[(df_apple_countries["region"] == region) & (df_apple_countries["transportation_type"] == transportation_type)].iloc[:, 2:].transpose()
        df_list += [{'timestamp': timestamp, 'region': region, 'transportation_type': transportation_type, "percentage": value[0]} for timestamp, value in zip(series_sub.index, series_sub.values)]
df_apple_reshaped = pd.DataFrame(df_list)
df_apple_reshaped

        timestamp   region transportation_type  percentage
0      2020-01-13  Albania             driving      100.00
1      2020-01-14  Albania             driving       95.30
2      2020-01-15  Albania             driving      101.43
3      2020-01-16  Albania             driving       97.20
4      2020-01-17  Albania             driving      103.55
...           ...      ...                 ...         ...
51250  2020-12-08  Vietnam             walking      117.02
51251  2020-12-09  Vietnam             walking      117.36
51252  2020-12-10  Vietnam             walking      122.83
51253  2020-12-11  Vietnam             walking      144.86
51254  2020-12-12  Vietnam             walking      166.76

[51255 rows x 4 columns]

In [21]:
df_apple_reshaped.to_csv(r"D:\GeospacialDBs_Data\AppleMobilityData_reshaped.csv", index = False)

# Google Dataset

In [10]:
df_google = pd.read_csv("Global_Mobility_Report.csv", header=0,  dtype={"metro_area": str})
df_google.head(5)

,country_region_code,country_region,sub_region_1,sub_region_2,metro_area,iso_3166_2_code,census_fips_code,date,retail_and_recreation_percent_change_from_baseline,grocery_and_pharmacy_percent_change_from_baseline,parks_percent_change_from_baseline,transit_stations_percent_change_from_baseline,workplaces_percent_change_from_baseline,residential_percent_change_from_baseline
0,AE,United Arab Emirates,NaN,NaN,NaN,NaN,NaN,2020-02-15,0.0,4.0,5.0,0.0,2.0,1.0
1,AE,United Arab Emirates,NaN,NaN,NaN,NaN,NaN,2020-02-16,1.0,4.0,4.0,1.0,2.0,1.0
2,AE,United Arab Emirates,NaN,NaN,NaN,NaN,NaN,2020-02-17,-1.0,1.0,5.0,1.0,2.0,1.0
3,AE,United Arab Emirates,NaN,NaN,NaN,NaN,NaN,2020-02-18,-2.0,1.0,5.0,0.0,2.0,1.0
4,AE,United Arab Emirates,NaN,NaN,NaN,NaN,NaN,2020-02-19,-2.0,0.0,4.0,-1.0,2.0,1.0

In [12]:
df_google.describe()

,census_fips_code,retail_and_recreation_percent_change_from_baseline,grocery_and_pharmacy_percent_change_from_baseline,parks_percent_change_from_baseline,transit_stations_percent_change_from_baseline,workplaces_percent_change_from_baseline,residential_percent_change_from_baseline
count,744534.000000,2.195096e+06,2.122715e+06,1.654072e+06,1.756660e+06,3.291646e+06,1.990001e+06
mean,30358.557551,-2.297236e+01,-3.403261e+00,-8.715213e+00,-2.700905e+01,-1.962572e+01,9.160184e+00
std,15298.583381,2.843911e+01,2.400672e+01,5.778901e+01,3.026930e+01,2.020344e+01,8.083940e+00
min,1001.000000,-1.000000e+02,-1.000000e+02,-1.000000e+02,-1.000000e+02,-1.000000e+02,-4.600000e+01
25%,18105.000000,-4.100000e+01,-1.400000e+01,-4.500000e+01,-4.800000e+01,-3.200000e+01,3.000000e+00
50%,29115.000000,-1.900000e+01,-2.000000e+00,-1.700000e+01,-2.800000e+01,-1.900000e+01,8.000000e+00
75%,45051.000000,-3.000000e+00,8.000000e+00,1.300000e+01,-7.000000e+00,-5.000000e+00,1.400000e+01
max,56045.000000,5.450000e+02,6.150000e+02,1.206000e+03,5.240000e+02,2.600000e+02,6.300000e+01

In [13]:
df_google["country_region"].unique()

array(['United Arab Emirates', 'Afghanistan', 'Antigua and Barbuda',
       'Angola', 'Argentina', 'Austria', 'Australia', 'Aruba',
       'Bosnia and Herzegovina', 'Barbados', 'Bangladesh', 'Belgium',
       'Burkina Faso', 'Bulgaria', 'Bahrain', 'Benin', 'Bolivia',
       'Brazil', 'The Bahamas', 'Botswana', 'Belarus', 'Belize', 'Canada',
       'Switzerland', "CÃ´te d'Ivoire", 'Chile', 'Cameroon', 'Colombia',
       'Costa Rica', 'Cape Verde', 'Czechia', 'Germany', 'Denmark',
       'Dominican Republic', 'Ecuador', 'Estonia', 'Egypt', 'Spain',
       'Finland', 'Fiji', 'France', 'Gabon', 'United Kingdom', 'Georgia',
       'Ghana', 'Greece', 'Guatemala', 'Guinea-Bissau', 'Hong Kong',
       'Honduras', 'Croatia', 'Haiti', 'Hungary', 'Indonesia', 'Ireland',
       'Israel', 'India', 'Iraq', 'Italy', 'Jamaica', 'Jordan', 'Japan',
       'Kenya', 'Kyrgyzstan', 'Cambodia', 'South Korea', 'Kuwait',
       'Kazakhstan', 'Laos', 'Lebanon', 'Liechtenstein', 'Sri Lanka',
       'Lithuania', 'Luxembourg', 'Latvia', 'Libya', 'Morocco', 'Moldova',
       'North Macedonia', 'Mali', 'Myanmar (Burma)', 'Mongolia', 'Malta',
       'Mauritius', 'Mexico', 'Malaysia', 'Mozambique', 'Namibia',
       'Niger', 'Nigeria', 'Nicaragua', 'Netherlands', 'Norway', 'Nepal',
       'New Zealand', 'Oman', 'Panama', 'Peru', 'Papua New Guinea',
       'Philippines', 'Pakistan', 'Poland', 'Puerto Rico', 'Portugal',
       'Paraguay', 'Qatar', 'RÃ©union', 'Romania', 'Serbia', 'Russia',
       'Rwanda', 'Saudi Arabia', 'Sweden', 'Singapore', 'Slovenia',
       'Slovakia', 'Senegal', 'El Salvador', 'Togo', 'Thailand',
       'Tajikistan', 'Turkey', 'Trinidad and Tobago', 'Taiwan',
       'Tanzania', 'Ukraine', 'Uganda', 'United States', 'Uruguay',
       'Venezuela', 'Vietnam', 'Yemen', 'South Africa', 'Zambia',
       'Zimbabwe'], dtype=object)

# Internet Speed Dataset

In [38]:
df_internet = pd.read_csv("2020-07-20 Ookla Speedtest Tracking COVID-19.csv", header=0, sep=";")#,  dtype={"metro_area": str})
df_internet.head(5)

,Place,Result Week Start,Result Week End,Mobile Test Change vs 12 Week Avg,Mobile Download % Change vs Base Week,Mobile Average Download Mbps,Mobile Median Download % Change vs Base Week,Mobile Median Download Mbps,Fixed Test Change vs 12 Week Avg,Fixed Download % Change vs Base Week,Fixed Average Download Mbps,Fixed Median Download % Change vs Base Week,Fixed Median Download Mbps
0,Afghanistan,16.12.2019,22.12.2019,"-0,1014","0,00439","6,86","0,11483","4,66","-0,0664","-0,15459","7,00","-0,01031","1,92"
1,Afghanistan,23.12.2019,29.12.2019,"-0,1998","0,13909","7,78","0,15072","4,81","-0,1493","-0,17391","6,84","0,1134","2,16"
2,Afghanistan,30.12.2019,05.01.2020,"-0,0812","-0,02782","6,64","0,01914","4,26","-0,226","-0,14734","7,06","0,01546","1,97"
3,Afghanistan,06.01.2020,12.01.2020,"-0,2085","0,03221","7,05","0,08134","4,52","-0,2162","-0,04469","7,91","0,07732","2,09"
4,Afghanistan,13.01.2020,19.01.2020,"-0,1034","0,04978","7,17","0,09809","4,59","-0,1126","-0,18237","6,77","0,01031","1,96"

In [39]:
df_internet["Place"].unique()

array(['Afghanistan', 'Albania', 'Algeria', 'Argentina', 'Armenia',
       'Australia', 'Austria', 'Azerbaijan', 'Bahrain', 'Bangladesh',
       'Belarus', 'Belgium', 'Bolivia', 'Bosnia and Herzegovina',
       'Brazil', 'Bulgaria', 'Cambodia', 'Canada', 'Chile', 'China',
       'Colombia', 'Costa Rica', 'Croatia', 'Cyprus', 'Czechia',
       'Denmark', 'Dominican Republic', 'Ecuador', 'El Salvador',
       'Estonia', 'Ethiopia', 'Finland', 'France', 'Georgia', 'Germany',
       'Ghana', 'Greece', 'Guatemala', 'Honduras', 'Hong Kong (SAR)',
       'Hungary', 'India', 'Indonesia', 'Iraq', 'Ireland', 'Israel',
       'Italy', 'Jamaica', 'Japan', 'Jordan', 'Kazakhstan', 'Kenya',
       'Kuwait', 'Kyrgyzstan', 'Laos', 'Latvia', 'Lebanon', 'Libya',
       'Lithuania', 'Luxembourg', 'Macau (SAR)', 'Malaysia', 'Maldives',
       'Mexico', 'Moldova', 'Mongolia', 'Montenegro', 'Morocco',
       'Mozambique', 'Myanmar (Burma)', 'Nepal', 'Netherlands',
       'New Zealand', 'Nicaragua', 'Nigeria', 'North Macedonia', 'Norway',
       'Oman', 'Pakistan', 'Panama', 'Paraguay', 'Peru', 'Philippines',
       'Poland', 'Portugal', 'Qatar', 'Romania', 'Russia', 'Saudi Arabia',
       'Serbia', 'Singapore', 'Slovakia', 'Slovenia', 'South Africa',
       'Spain', 'Sri Lanka', 'Sudan', 'Sweden', 'Switzerland', 'Syria',
       'Taiwan', 'Tajikistan', 'Tanzania', 'Thailand',
       'Trinidad and Tobago', 'Tunisia', 'Turkey', 'Ukraine',
       'United Arab Emirates', 'United Kingdom', 'United States',
       'Uruguay', 'Uzbekistan', 'Venezuela', 'Vietnam', 'Global'],
      dtype=object)

# Look at overlap in Countries

In [14]:
#https://www.datacamp.com/community/tutorials/fuzzy-string-python
def levenshtein_ratio_and_distance(s, t, ratio_calc = False):
    """ levenshtein_ratio_and_distance:
        Calculates levenshtein distance between two strings.
        If ratio_calc = True, the function computes the
        levenshtein distance ratio of similarity between two strings
        For all i and j, distance[i,j] will contain the Levenshtein
        distance between the first i characters of s and the
        first j characters of t
    """
    # Initialize matrix of zeros
    rows = len(s)+1
    cols = len(t)+1
    distance = np.zeros((rows,cols),dtype = int)

    # Populate matrix of zeros with the indeces of each character of both strings
    for i in range(1, rows):
        for k in range(1,cols):
            distance[i][0] = i
            distance[0][k] = k

    # Iterate over the matrix to compute the cost of deletions,insertions and/or substitutions    
    for col in range(1, cols):
        for row in range(1, rows):
            if s[row-1] == t[col-1]:
                cost = 0 # If the characters are the same in the two strings in a given position [i,j] then the cost is 0
            else:
                # In order to align the results with those of the Python Levenshtein package, if we choose to calculate the ratio
                # the cost of a substitution is 2. If we calculate just distance, then the cost of a substitution is 1.
                if ratio_calc == True:
                    cost = 2
                else:
                    cost = 1
            distance[row][col] = min(distance[row-1][col] + 1,      # Cost of deletions
                                 distance[row][col-1] + 1,          # Cost of insertions
                                 distance[row-1][col-1] + cost)     # Cost of substitutions
    if ratio_calc == True:
        # Computation of the Levenshtein Distance Ratio
        Ratio = ((len(s)+len(t)) - distance[row][col]) / (len(s)+len(t))
        return Ratio
    else:
        # This is the minimum number of edits needed to convert string a to string b
        return distance[row][col]

## Search for merge candidates

In [33]:
#from google dataset perspective
merge_candidates = {x:[] for x in df_google["country_region"].unique()}
distance_ratio = 0.8
for x in df_google["country_region"].unique():
    for y in df_apple_reshaped.columns.values:
        if levenshtein_ratio_and_distance(x,y,ratio_calc = True) > distance_ratio:
            merge_candidates[x] += [y]
merge_candidates

{'United Arab Emirates': ['United Arab Emirates'],
 'Afghanistan': [],
 'Antigua and Barbuda': [],
 'Angola': [],
 'Argentina': ['Argentina'],
 'Austria': ['Australia', 'Austria'],
 'Australia': ['Australia', 'Austria'],
 'Aruba': [],
 'Bosnia and Herzegovina': [],
 'Barbados': [],
 'Bangladesh': [],
 'Belgium': ['Belgium'],
 'Burkina Faso': [],
 'Bulgaria': ['Bulgaria'],
 'Bahrain': [],
 'Benin': [],
 'Bolivia': [],
 'Brazil': ['Brazil'],
 'The Bahamas': [],
 'Botswana': [],
 'Belarus': [],
 'Belize': [],
 'Canada': ['Canada'],
 'Switzerland': ['Switzerland'],
 "CÃ´te d'Ivoire": [],
 'Chile': ['Chile'],
 'Cameroon': [],
 'Colombia': ['Colombia'],
 'Costa Rica': [],
 'Cape Verde': [],
 'Czechia': [],
 'Germany': ['Germany'],
 'Denmark': ['Denmark'],
 'Dominican Republic': [],
 'Ecuador': [],
 'Estonia': ['Estonia'],
 'Egypt': ['Egypt'],
 'Spain': ['Spain'],
 'Finland': ['Finland'],
 'Fiji': [],
 'France': ['France'],
 'Gabon': [],
 'United Kingdom': ['United Kingdom'],
 'Georgia': [],
 'Ghana': [],
 'Greece': ['Greece'],
 'Guatemala': [],
 'Guinea-Bissau': [],
 'Hong Kong': ['Hong Kong'],
 'Honduras': [],
 'Croatia': ['Croatia'],
 'Haiti': [],
 'Hungary': ['Hungary'],
 'Indonesia': ['Indonesia'],
 'Ireland': ['Iceland', 'Ireland'],
 'Israel': ['Israel'],
 'India': ['India'],
 'Iraq': [],
 'Italy': ['Italy'],
 'Jamaica': [],
 'Jordan': [],
 'Japan': ['Japan'],
 'Kenya': [],
 'Kyrgyzstan': [],
 'Cambodia': ['Cambodia'],
 'South Korea': [],
 'Kuwait': [],
 'Kazakhstan': [],
 'Laos': [],
 'Lebanon': [],
 'Liechtenstein': [],
 'Sri Lanka': [],
 'Lithuania': ['Lithuania'],
 'Luxembourg': ['Luxembourg'],
 'Latvia': ['Latvia'],
 'Libya': [],
 'Morocco': ['Morocco'],
 'Moldova': [],
 'North Macedonia': [],
 'Mali': [],
 'Myanmar (Burma)': [],
 'Mongolia': [],
 'Malta': [],
 'Mauritius': [],
 'Mexico': ['Mexico'],
 'Malaysia': ['Malaysia'],
 'Mozambique': [],
 'Namibia': [],
 'Niger': [],
 'Nigeria': [],
 'Nicaragua': [],
 'Netherlands': ['Netherlands'],
 'Norway': ['Norway'],
 'Nepal': [],
 'New Zealand': ['New Zealand'],
 'Oman': [],
 'Panama': [],
 'Peru': [],
 'Papua New Guinea': [],
 'Philippines': ['Philippines'],
 'Pakistan': [],
 'Poland': ['Poland'],
 'Puerto Rico': [],
 'Portugal': ['Portugal'],
 'Paraguay': [],
 'Qatar': [],
 'RÃ©union': [],
 'Romania': ['Romania'],
 'Serbia': ['Serbia'],
 'Russia': ['Russia'],
 'Rwanda': [],
 'Saudi Arabia': ['Saudi Arabia'],
 'Sweden': ['Sweden'],
 'Singapore': ['Singapore'],
 'Slovenia': ['Slovenia'],
 'Slovakia': ['Slovakia'],
 'Senegal': [],
 'El Salvador': [],
 'Togo': [],
 'Thailand': ['Thailand'],
 'Tajikistan': [],
 'Turkey': ['Turkey'],
 'Trinidad and Tobago': [],
 'Taiwan': ['Taiwan'],
 'Tanzania': [],
 'Ukraine': ['Ukraine'],
 'Uganda': [],
 'United States': ['United States'],
 'Uruguay': ['Uruguay'],
 'Venezuela': [],
 'Vietnam': ['Vietnam'],
 'Yemen': [],
 'South Africa': ['South Africa'],
 'Zambia': [],
 'Zimbabwe': []}

In [34]:
#from apple dataset perspective
merge_candidates2 = {x:[] for x in df_apple_reshaped.columns.values}
distance_ratio2 = 0.8
for x in df_apple_reshaped.columns.values:
    for y in df_google["country_region"].unique():
        if levenshtein_ratio_and_distance(x,y,ratio_calc = True) > distance_ratio2:
            merge_candidates2[x] += [y]
merge_candidates2

{'Albania': [],
 'Argentina': ['Argentina'],
 'Australia': ['Austria', 'Australia'],
 'Austria': ['Austria', 'Australia'],
 'Belgium': ['Belgium'],
 'Brazil': ['Brazil'],
 'Bulgaria': ['Bulgaria'],
 'Cambodia': ['Cambodia'],
 'Canada': ['Canada'],
 'Chile': ['Chile'],
 'Colombia': ['Colombia'],
 'Croatia': ['Croatia'],
 'Czech Republic': [],
 'Denmark': ['Denmark'],
 'Egypt': ['Egypt'],
 'Estonia': ['Estonia'],
 'Finland': ['Finland'],
 'France': ['France'],
 'Germany': ['Germany'],
 'Greece': ['Greece'],
 'Hong Kong': ['Hong Kong'],
 'Hungary': ['Hungary'],
 'Iceland': ['Ireland'],
 'India': ['India'],
 'Indonesia': ['Indonesia'],
 'Ireland': ['Ireland'],
 'Israel': ['Israel'],
 'Italy': ['Italy'],
 'Japan': ['Japan'],
 'Latvia': ['Latvia'],
 'Lithuania': ['Lithuania'],
 'Luxembourg': ['Luxembourg'],
 'Macao': [],
 'Malaysia': ['Malaysia'],
 'Mexico': ['Mexico'],
 'Morocco': ['Morocco'],
 'Netherlands': ['Netherlands'],
 'New Zealand': ['New Zealand'],
 'Norway': ['Norway'],
 'Philippines': ['Philippines'],
 'Poland': ['Poland'],
 'Portugal': ['Portugal'],
 'Republic of Korea': [],
 'Romania': ['Romania'],
 'Russia': ['Russia'],
 'Saudi Arabia': ['Saudi Arabia'],
 'Serbia': ['Serbia'],
 'Singapore': ['Singapore'],
 'Slovakia': ['Slovakia'],
 'Slovenia': ['Slovenia'],
 'South Africa': ['South Africa'],
 'Spain': ['Spain'],
 'Sweden': ['Sweden'],
 'Switzerland': ['Switzerland'],
 'Taiwan': ['Taiwan'],
 'Thailand': ['Thailand'],
 'Turkey': ['Turkey'],
 'Ukraine': ['Ukraine'],
 'United Arab Emirates': ['United Arab Emirates'],
 'United Kingdom': ['United Kingdom'],
 'United States': ['United States'],
 'Uruguay': ['Uruguay'],
 'Vietnam': ['Vietnam']}

### Almost all of the apple dataset countries are also in the google dataset, the other way around there are a few more missing

# Flight Data

In [5]:
# "D:\GeospacialDBs_Data\airport-codes.csv"
df_airport_codes = pd.read_csv(r"D:\GeospacialDBs_Data\airport-codes.csv", header=0, sep=",")#,  dtype={"number": str})
df_airport_codes.head(5)

,ident,type,name,elevation_ft,continent,iso_country,iso_region,municipality,gps_code,iata_code,local_code,coordinates
0,00A,heliport,Total Rf Heliport,11.0,NaN,US,US-PA,Bensalem,00A,NaN,00A,"40.07080078125, -74.93360137939453"
1,00AA,small_airport,Aero B Ranch Airport,3435.0,NaN,US,US-KS,Leoti,00AA,NaN,00AA,"38.704022, -101.473911"
2,00AK,small_airport,Lowell Field,450.0,NaN,US,US-AK,Anchor Point,00AK,NaN,00AK,"59.94919968, -151.695999146"
3,00AL,small_airport,Epps Airpark,820.0,NaN,US,US-AL,Harvest,00AL,NaN,00AL,"34.86479949951172, -86.77030181884766"
4,00AR,closed,Newport Hospital & Clinic Heliport,237.0,NaN,US,US-AR,Newport,NaN,NaN,NaN,"35.6087, -91.254898"

In [45]:
first_flag = True
for filename in glob.glob(r"D:\GeospacialDBs_Data\flightlist_*.csv"):
    df_flight = pd.read_csv(filename, header=0, sep=",",  dtype={"number": str})
    country_map = {ident:iso_country for ident, iso_country in zip(df_airport_codes["ident"],df_airport_codes["iso_country"])}
    daily_grouped = df_flight.groupby(['origin', "day"])["callsign"].agg(['count'])
    daily_index = daily_grouped.index.get_level_values(0)
    uniques = df_airport_codes["ident"].unique()
    daily_grouped['iso_country'] = daily_grouped.index.get_level_values(0).map(country_map)
    country_daily_origin = daily_grouped.groupby(['iso_country', "day"])['count'].agg(['count'])
    daily_grouped2 = df_flight.groupby(['destination', "day"])["callsign"].agg(['count'])
    daily_index2 = daily_grouped2.index.get_level_values(0)
    uniques = df_airport_codes["ident"].unique()
    daily_grouped2['iso_country'] = daily_grouped2.index.get_level_values(0).map(country_map)
    country_daily_destination = daily_grouped2.groupby(['iso_country', "day"])["count"].agg(['count'])
    country_daily = pd.concat([country_daily_origin, country_daily_destination], axis=1)
    country_daily.columns = ['origin_count', 'destination_count']
    if first_flag:
        country_flights_io = country_daily
        first_flag = False
    else:
        country_flights_io = country_flights_io.append([country_daily])
country_flights_io.head(10)

                                       origin_count  destination_count
iso_country day
AE          2019-01-01 00:00:00+00:00           9.0               10.0
            2019-01-02 00:00:00+00:00          10.0               12.0
            2019-01-03 00:00:00+00:00          10.0               11.0
            2019-01-04 00:00:00+00:00          10.0               10.0
            2019-01-05 00:00:00+00:00          10.0               11.0
            2019-01-06 00:00:00+00:00           8.0                8.0
            2019-01-07 00:00:00+00:00           7.0                9.0
            2019-01-08 00:00:00+00:00          11.0               13.0
            2019-01-09 00:00:00+00:00          12.0               12.0
            2019-01-10 00:00:00+00:00          10.0               10.0

In [46]:
country_flights_io.loc["AE"]

                           origin_count  destination_count
day
2019-01-01 00:00:00+00:00           9.0               10.0
2019-01-02 00:00:00+00:00          10.0               12.0
2019-01-03 00:00:00+00:00          10.0               11.0
2019-01-04 00:00:00+00:00          10.0               10.0
2019-01-05 00:00:00+00:00          10.0               11.0
...                                 ...                ...
2020-11-26 00:00:00+00:00           9.0               12.0
2020-11-27 00:00:00+00:00           9.0               13.0
2020-11-28 00:00:00+00:00          10.0               11.0
2020-11-29 00:00:00+00:00           7.0               14.0
2020-11-30 00:00:00+00:00           9.0               14.0

[699 rows x 2 columns]

In [47]:
country_flights_io.to_csv(r'Flights_io_per_day_and_country.csv', index = True)

# Iso Codes for translating to country names

In [6]:
df_iso_codes = pd.read_csv(r"D:\GeospacialDBs_Data\wikipedia-iso-country-codes.csv", header=0, sep=",")#,  dtype={"number": str})
df_iso_codes.head(5)

,English short name lower case,Alpha-2 code,Alpha-3 code,Numeric code,ISO 3166-2
0,Afghanistan,AF,AFG,4,ISO 3166-2:AF
1,Ã…land Islands,AX,ALA,248,ISO 3166-2:AX
2,Albania,AL,ALB,8,ISO 3166-2:AL
3,Algeria,DZ,DZA,12,ISO 3166-2:DZ
4,American Samoa,AS,ASM,16,ISO 3166-2:AS